/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*End of CSS reset*/


/*---------------------
    moblie styles
---------------------*/

/*container for all page content: sets font family, max-width and background color*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    background-color: #74319e;
    margin-bottom: 2rem;
}

/*sets page's backgound color*/
body{
    background-color:#120087;
}

/*nav list anchors tags: removes list style for nagavition menu*/
nav li a{
    list-style: none;

}


/*---------------------
    header styles
---------------------*/


/*nav list items: added padding and borders to create a buuton, placed on wood panal banner*/
nav ul a{
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-image: linear-gradient(#540188,#74319e);
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 25px;
    border: .4rem solid #120087;
    margin-top: .5rem;
}

/*nav list: centers text*/
nav ul{
    text-align: center;
}

/*nav list banner:makes the wood panel PNG into a background image for Nav menu*/
header{
    background: brown url(../images/wood.jpg) no-repeat center;
    background-size: cover;
    height: 9rem;
    padding-top: 1rem;
    padding-bottom: 5rem;
    margin-bottom: 2rem;
}

/*ice cream banner: makes the banner PNG into a background image for Logo*/
.banner-big{
    background: chocolate url(../images/banner.png) no-repeat center;
    background-size: cover;
    height: 20rem;

}

/*Sweet dreams logo: placed on ice cream banner, resized to fit height of banner*/
img[src$="logo.png"]{
    inline-size: 33.5%;
    height: 20rem;
    width: 30rem;
    right: 23%;
    position: absolute;
}

/*---------------------
     body styles
---------------------*/

/*What flavor/Discover our text: sets font family, text color and bolds text*/
h2 {
    font-family: 'Gabriola';
    font-weight: 700;
    font-size: 3rem;
    padding-bottom: .5rem;
    padding-top: .5rem;
    color:white;
    padding-left: 1rem;
    padding-right: 1rem;
}

/*paragraph text: sets text color and makes padding*/
p{
    color: white;
    padding-bottom: .5rem;
    padding-top: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/*sheep text: bolded and centered text*/
h3 {
    font-weight: 700;
    max-width: 10rem;
    text-align: center;
}

/*moblie sheep grid: creates a grid with 2 coloums and 3 rows */
.sheeps{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/*full sheep section: added padding*/
.sheeps{
    padding-left: 5rem;
}


/*indiviacl sheep divs: added padding*/
.sheep{
    padding-bottom: .5rem;
    padding-top: .5rem;
}

/*---------------------
    footer styles
---------------------*/

/*footer banner:makes the wood panel PNG into a background image for footer*/
footer{
    background: brown url(../images/wood.jpg) no-repeat center;
    background-size: cover;
    height: 5rem;
}


/*footer text:adds text color and padding, placed on wood panal banner*/
footer p{
    padding-left: 1rem;
    padding-top: 2rem;
    color: white;

}

/*---------------------
    animation styles
---------------------*/
/*sheep animation: rotates and moves sheep upwards*/
@keyframes move{
    25%{
        transform: rotate(25deg) translate(-5rem);
      }
      50%{
        transform: rotate(60deg) translate(-10rem);
      }
      75%{
        transform: rotate(-25deg) translate(-5rem);
      }
}

/*nav menu anchors: transition to another color on hover*/
nav ul li a:hover{
    background: #77006b;
    transition-duration: 1s;
}

/*sheep: triggers the move animation on hover for 5 seconds */
.sheep:hover {
    animation-name: move;
    animation-duration: 5s;
}

/*sheep: places H3 text on sheep images*/
.sheep{
    position: relative;
}

/*ice cream titles: places H3 text on sheep images*/
h3{
    position: absolute;
    top: 6rem;
    left: 5rem
}

/*---------------------
    desktop styles
---------------------*/
@media screen and (min-width:900px){
    /*logo: pushes logo right*/
    img[src$="logo.png"]{
        right: 38%;
    }

    /*nav menu: removes list styles*/
    #menu1 ul{
        list-style: none;
    }
    
    /*nav menu items: displey the styles inline*/
    #menu1 li{
        display: inline;
    }

    /*nav  anchors: adds margins to top and right*/
    nav ul a{
        margin-top: 1.5rem;
        margin-right: 3rem;
    }

    /*header: makes hight 3rems*/
    header{
        height: 3rem;
    }

    /*moblie sheep grid: creates a grid with 3 coloums and 2 rows */
    .sheeps{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    /*food grid: creates a grid with 2 coloums and 2 rows places paragrah text next to food picture*/
    .food-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 7rem 1fr;
    }
    
    /*Discover title: spans title across two colums and adds left padding*/
    .natural{
        padding-left: 3rem;
        grid-column-start: span 2;
    }

    /*food pic: adds padding to the left and bottom */
    .food-pic{
        padding-left: 3rem;
        padding-bottom: 1rem;
    }

    /*food text: adds padding to the left and top and a max-width*/
    .food-text{
        padding-left: 3rem;
        padding-top: 2rem;
        max-width: 20rem;
    }
}
